/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */

/* /////////////////// */
/*      ABOUT HEAD     */
/* /////////////////// */

.page-header {
  margin-bottom: 25px;
  padding-bottom: 20px;
  min-width: 500px;

  padding-bottom: 5px;
  background: url("/images/wave-design-yellow.svg");
  background-repeat: repeat;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto auto;
  background-repeat: repeat-x;
  background-size: 20px 10px;
  animation: move 15s linear infinite;
  -webkit-animation: move 15s linear infinite;

  /* animation-play-state: paused; */
  animation-play-state: running;

  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.page-header:hover {
  /* animation-play-state: running; */
}

@-webkit-keyframes move {
  from {
    background-position: 2px 110px;
  }
  to {
    background-position: 500px 110px;
  }
}

@keyframes move {
  from {
    background-position: 2px 110px;
  }
  to {
    background-position: 500px 110px;
  }
}

.fade-in {
  animation: fadeIn ease-in 1500ms;
  -webkit-animation: fadeIn ease-in 1500ms;
  -moz-animation: fadeIn ease-in 1500ms;
  -o-animation: fadeIn ease-in 1500ms;
  -ms-animation: fadeIn ease-in 1500ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about-me {
  width: 100%;
  height: 450px;
  min-width: 40%;
  background-image: url("/images/TCS-MachuPicchu.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  margin-bottom: 15px;

  border-radius: 8px;

  color: #fdfbf5;
}

.about-me h2 {
  text-align: center;
}

.subtitle {
  font-weight: 500;
}

.highlight {
  /* color: #1f4a54; */
  /* color: #ffdb58; */

  padding: 5px 10px 5px 10px;
}

/*
  color: rgb(255, 219, 88, 1);
  background-color: rgba(31, 74, 84, 0.5);
  transition: 200ms ease-in;
}

.highlight:hover {
  color: rgb(31, 74, 84);
  background-color: rgb(255, 219, 88, 0.5);
  transition: 200ms ease-in;
} */

#spacer-div {
  height: 30vh;
}

/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */

/* //////////////////////// */
/*   CURRENTLY... SECTION   */
/* //////////////////////// */

.currently-section-container {
  /* border: 1px solid #202020; */
  border-radius: 10px;
  height: 650px;
}

.currently-section-container h1 {
  font-family: lust-display, serif;
  font-size: 60px;
  font-weight: 400;
  font-style: normal;

  margin-top: -45px;
  margin-bottom: 0px;
}

.currently-section-contents {
  justify-content: space-between;
  text-align: center;

  margin: 75px 0px;
}

.currently-section-contents h2 {
  font-family: montserrat, sans-serif;
  font-size: 32px;
  font-weight: 200;
  font-style: normal;

  text-align: center;
}

.currently-section-contents img {
  min-width: 100px;
  max-height: 250px;

  border-radius: 5px;

  margin-top: 20px;
  margin-bottom: 30px;

  transition: ease-in 100ms;
}

.currently-section-contents img:hover {
  box-shadow: 3px 3px 15px rgba(32, 32, 32, 0.3);
  transition: ease-in 100ms;
}

.currently-section-contents h4 {
  font-family: montserrat, sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;

  text-align: center;
}

.currently-section-contents h5 {
  font-family: montserrat, sans-serif;
  font-size: 16px;
  font-weight: 200;
  font-style: normal;

  text-align: center;
}

.currently-section-contents h5 span {
  font-weight: 400;
}
