#contact-text-arch {
  /* transform: translateY(-35%); */
  position: relative;
  top: -17vh;
}

#contact-shaka {
  /* transform: translateY(-19%); */
  position: relative;
  top: -41vh;
}

#contact-banner {
  /* transform: translateY(-180%); */
  position: relative;
  top: -40vh;
}

#contact-banner img {
  margin: 0px 0 0px 0;
}

#contact-banner hr {
  width: 25%;
  transform: translateY(-35px);
  border-top: 3px solid var(--accentColorYellow);
  padding: 0px;
  margin: 5px auto;
}

#contact-icons-row {
  /* transform: translateY(-150%); */
  position: relative;
  top: -47vh;
}

.icon-container h2 {
  color: var(--primaryColorDark);

  text-align: center;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  transition: ease-in 300ms;
}

.subtitle-links {
  text-decoration: none;
}

.subtitle-links:hover {
  color: var(--accentColorYellow);
}

.icon-container h2:hover {
  color: var(--accentColorYellow);
  font-weight: bolder;
  transition: ease-in 100ms;
}

.image-icon:hover {
  cursor: pointer;
}

.made-with-love {
  text-align: center;
  margin: 0;
  font-weight: 100;
}

@keyframes shaka {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(-7deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(7deg);
  }
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(3deg);
  }
  80% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.fade-in {
  animation: fadeIn ease-in 1000ms;
  -webkit-animation: fadeIn ease-in 1000ms;
  -moz-animation: fadeIn ease-in 1000ms;
  -o-animation: fadeIn ease-in 1000ms;
  -ms-animation: fadeIn ease-in 1000ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#contact-shaka img {
  animation-name: shaka;
  animation-duration: 1250ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
