#contact-text-arch {
  position: relative;
  top: -16vh;
}

#contact-shaka {
  position: relative;
  top: -41vh;
}

#contact-banner {
  /* transform: translateY(-180%); */
  position: relative;
  top: -41vh;
}

#contact-banner img {
  margin: 0px 0 0px 0;
}

#contact-banner hr {
  width: 25%;
  transform: translateY(-35px);
  border-top: 3px solid var(--accentColorYellow);
  padding: 0px;
  margin: 5px auto;
}

#contact-icons-row {
  /* transform: translateY(-150%); */
  position: relative;
  top: -47vh;
}

.icon-container h2 {
  color: var(--primaryColorDark);

  text-align: center;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  transition: ease-in 300ms;
}

.subtitle-links {
  text-decoration: none;
}

.subtitle-links:hover {
  color: var(--accentColorYellow);
}

.icon-container h2:hover {
  color: var(--accentColorYellow);
  font-weight: bolder;
  transition: ease-in 100ms;
}

.image-icon:hover {
  cursor: pointer;
}

.made-with-love {
  text-align: center;
  margin: 0;
  font-weight: 100;
}

@keyframes shaka {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(-7deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(7deg);
  }
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(3deg);
  }
  80% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.fade-in {
  animation: fadeIn ease-in 1000ms;
  -webkit-animation: fadeIn ease-in 1000ms;
  -moz-animation: fadeIn ease-in 1000ms;
  -o-animation: fadeIn ease-in 1000ms;
  -ms-animation: fadeIn ease-in 1000ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#contact-shaka img {
  animation-name: shaka;
  animation-duration: 1250ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */

/* /////////////////// */
/*    MEDIA QUERIES    */
/* /////////////////// */

/* Extra small devices (portrait phones, less than 576px) */
/* ------------------------------------------------------ */
@media (max-width: 575.98px) {
}

/* Small devices (landscape phones, less than 768px)      */
/* ------------------------------------------------------ */
@media (max-width: 767.98px) {
  #contact-text-arch {
    position: relative;
    top: -55vh;
    max-width: 300px;

    transform: translateX(25vw);
  }
  #contact-shaka {
    top: -32vh;
    max-width: 200px;
    margin-bottom: 10px;

    transform: translateX(35vw);
  }
  #contact-banner {
    position: relative;
    top: -30vh;

    max-width: 650px;
  }
  #contact-banner hr {
    transform: translateY(-25px);
  }
  #contact-icons-row {
    position: relative;
    top: -37vh;
  }
}

/* Medium devices (tablets, less than 992px)              */
/* ------------------------------------------------------ */
@media (max-width: 991.98px) {
  #contact-text-arch {
    position: relative;
    top: -10vh;
  }
  #contact-shaka {
    margin-top: 50px;
    margin-bottom: 10px;
  }
  #contact-banner {
    position: relative;
    top: -40vh;
  }
  #contact-banner hr {
    transform: translateY(-25px);
  }
  #contact-icons-row {
    position: relative;
    top: -46vh;
  }
}

/* Large devices (desktops, less than 1200px)             */
/* ------------------------------------------------------ */
@media (max-width: 1199.98px) {
  #contact-text-arch {
    position: relative;
    top: -15vh;
  }
  #contact-shaka {
    top: -38vh;
    margin-bottom: 15px;
  }
  #contact-banner {
  }
  #contact-banner hr {
  }
  #contact-icons-row {
  }
}
