h1 {
  font-family: lust-display, serif;
  font-size: 60px;
  font-weight: 400;
  font-style: normal;
  text-align: center;

  margin-top: 50px;
  margin-bottom: 30px;
}

label {
  background-color: var(--primaryColorLight);
  font-family: montserrat, sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  color: var(--primaryColorDark);
}

.form-group {
  margin-bottom: 30px;
}

.submit-btn {
  margin-top: 50px;
}

.submit-btn input {
  font-family: lust-display, serif;
  font-size: 20px;

  height: 65px;
  color: var(--primaryColorDark);
  background-color: var(--primaryColorLight);
  transition: ease-in 200ms;
}

.submit-btn input:hover {
  color: var(--primaryColorLight);
  background-color: var(--primaryColorDark);
  transition: ease-in 200ms;
}
