h1 {
  font-family: lust-display, serif;
  font-size: 60px;
  font-weight: 400;
  font-style: normal;

  margin-top: 50px;
  margin-bottom: 50px;
}

.hero-container h1 {
  padding-bottom: 5px;
  background: url("/images/wave-design-yellow.svg");
  background-repeat: repeat;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto auto;
  background-repeat: repeat-x;
  background-size: 20px 10px;
  background-position: 2px 57px;
  animation: move 15s linear infinite;
  -webkit-animation: move 15s linear infinite;

  /* animation-play-state: paused; */
  animation-play-state: running;

  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.hero-container h1.first-name {
  width: 185px;
}

.hero-container h1.middle-name {
  width: 265px;
}

.hero-container h1.last-name {
  width: 365px;
}

.hero-container h1:hover {
  cursor: pointer;
  /* animation-play-state: running; */
}

@keyframes move {
  from {
    background-position: 2px 57px;
  }
  to {
    background-position: 500px 57px;
  }
}

@-webkit-keyframes move {
  from {
    background-position: 2px 57px;
  }
  to {
    background-position: 500px 57px;
  }
}

.fade-in {
  animation: fadeIn ease-in 1000ms;
  -webkit-animation: fadeIn ease-in 1000ms;
  -moz-animation: fadeIn ease-in 1000ms;
  -o-animation: fadeIn ease-in 1000ms;
  -ms-animation: fadeIn ease-in 1000ms;
}

.fade-in.top {
}

.fade-in.middle {
}

.fade-in.bottom {
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.subtitle {
  font-family: montserrat, sans-serif;
  font-size: 24px;
  font-weight: 200;
  font-style: normal;

  text-align: center;
  margin-top: 25px;
}

.subtitle-bars {
  padding: 5px 10px 5px 10px;
}

#spacer-div {
  height: 30vh;
}
