body {
  background-color: #fdfbf5;
  font-family: montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #202020;
}

.header li {
  font-family: montserrat, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
}

.footer a {
  /* font-family: lust-display, serif; */

  font-family: montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 8px;
}

/* SAY HI SECTIONS CSS */

.say-hi-container {
  border: 1px solid #202020;
  border-radius: 10px;
  height: 650px;
}

.say-hi-container h1 {
  font-family: lust-display, serif;
  font-size: 60px;
  font-weight: 400;
  font-style: normal;

  margin-top: -45px;
  margin-bottom: 0px;
}

.say-hi.contents {
}

.email {
  color: #202020;
}

.email:hover {
  color: #202020;
  text-decoration: none;
}

.inner-text-container {
  margin-left: 25px;
  width: 50%;
}

.inner-text-container h2 {
  margin-top: 75px;
  margin-bottom: 75px;
}

.inner-text-container hr {
  border-top: 1px solid #202020;
  margin-bottom: 75px;
}

.inner-text-container p {
}

.social-icon-container {
  display: flex;
}

.social-icon-container a {
  color: #202020;
}

.social-icon-container a:hover {
  color: #202020;
}

.social-icon-container i {
  margin: 10px 20px;
}

.inner-image-container {
  width: 50%;
}

.inner-image-container img {
  max-height: 500px;
  margin-bottom: 25px;
}
