/* ============================================================================================= */
/* /////////////////// */
/*   GENERAL LAYOUT    */
/* /////////////////// */

:root {
  --primaryColorLight: #fdfbf5;
  --primaryColorDark: #202020;

  --accentColorYellow: #f6a800;
  --accentColorGreen: #09553f;

  --boxShadowColor: rgba(32, 32, 32, 0.3);

  --onHoverHighlightLight: rgba(246, 168, 0, 0.2);
}

body {
  background-color: var(--primaryColorLight);
  font-family: montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--primaryColorDark);
}

.header li {
  font-family: montserrat, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
}

.footer a {
  /* font-family: lust-display, serif; */

  font-family: montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 8px;
}

/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */

/* ///////////////////////////////// */
/*    RECENT PROJECTS SECTIONS       */
/* ///////////////////////////////// */

.recent-projects-section-container {
  height: 70vh;
}

.recent-projects-header {
  font-family: lust-display, serif;
  font-size: 60px;
  font-weight: 400;
  font-style: normal;

  margin-top: -45px;
  margin-bottom: 0px;

  background: url("/images/wave-design-yellow.svg");
  background-repeat: repeat;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat-x;
  background-size: 20px 10px;
  animation: move 15s linear infinite;
  -webkit-animation: move 15s linear infinite;

  animation-play-state: play;

  max-width: 450px;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.recent-projects-section-contents {
  justify-content: space-between;
  text-align: center;

  /* Spacing between header and contents below  */
  margin: 50px 0px;
}

.easy-center-align-container {
  margin-top: 0;
  text-align: center;
}

.project-container {
  border: 1px solid var(--primaryColorDark);
  border-radius: 8px;
  padding: 10px;
  margin-top: 75px;
  margin-bottom: 50px;

  width: 100%;
  min-width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;

  transition: ease-in 300ms;
}

.project-container:hover {
  box-shadow: 5px 5px 15px var(--boxShadowColor);
  transition: ease-in 300ms;
}

.project-container img {
  height: auto;

  border-radius: 8px;
  margin-bottom: 25px;
}

.project-container a {
  color: var(--primaryColorDark);
}

.project-container a:hover {
  color: var(--primaryColorDark);
  text-decoration: none;
}

.project-container h2 {
  margin-top: -46px;

  margin-bottom: 10px;

  font-family: lust-display, serif;
  font-size: 50px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.project-subtitle {
  margin-top: 10px;
  font-weight: 200;
  font-style: italic;
}

.project-highlight {
  padding: 5px;
  transition: ease-in 200ms;
}

.project-highlight:hover {
  background-color: var(--onHoverHighlightLight);
  transition: ease-in 200ms;
}

.project-highlight-container {
  min-width: 200px;
}

#see-project-btn {
  box-shadow: none !important;

  font-family: lust-display, serif;
  letter-spacing: 2px;
  color: var(--primaryColorDark);
  margin: 20px 15px;
  padding: 15px;
  border: 1px solid var(--primaryColorDark);
  background-color: transparent;
}

#see-project-btn:hover {
  color: var(--primaryColorLight);
  margin: 20px 15px;
  padding: 15px;
  border: 1px solid var(--primaryColorDark);
  background-color: var(--primaryColorDark);
}

.see-more-row {
  margin-top: 75px;
}

.see-more-button-container {
  text-align: center;
}

.see-more-button-container a {
  width: 275px;
}

/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */

/* /////////////////// */
/*   SAY HI SECTIONS   */
/* /////////////////// */

.say-hi-container {
  border: 1px solid var(--primaryColorDark);
  border-radius: 10px;
  height: 650px;
  min-width: 350px;
}

.say-hi-container h1 {
  font-family: lust-display, serif;
  font-size: 60px;
  font-weight: 400;
  font-style: normal;

  margin-top: -45px;
  margin-bottom: 0px;
}

.say-hi-contents {
  justify-content: space-between;
}

.email {
  color: var(--primaryColorDark);
}

.email:hover {
  color: var(--primaryColorDark);
  text-decoration: none;
}

.email-prompt-text {
  /* color: var(--accentColorGreen); */

  background: url("/images/wave-design-yellow.svg");
  background-repeat: repeat;
  background-position-x: 20%;
  background-position-y: 0%;
  background-repeat: repeat-x;
  background-size: 20px 48px;
  animation: move 15s linear infinite;
  -webkit-animation: move 15s linear infinite;

  animation-play-state: paused;

  width: 250px;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.email-prompt-text:hover {
  animation-play-state: running;
}

@-webkit-keyframes move {
  from {
    background-position: 2px 15px;
  }
  to {
    background-position: 500px 15px;
  }
}

@keyframes move {
  from {
    background-position: 2px 15px;
  }
  to {
    background-position: 500px 15px;
  }
}

.inner-text-container {
  margin-left: 25px;
  width: 100%;
}

.inner-text-container h2 {
  /* font-family: lust-display, serif; */

  font-family: montserrat, sans-serif;
  font-size: 35px;
  font-weight: 400;

  margin-top: 75px;
  margin-bottom: 75px;
}

.inner-text-container hr {
  border-top: 1px solid var(--primaryColorDark);
  margin-bottom: 75px;
  width: 85%;
}

.inner-text-container p {
}

.social-icon-container {
  display: flex;
}

.social-icon-container a {
  color: var(--primaryColorDark);
}

.social-icon-container a:hover {
  color: var(--primaryColorDark);
}

.social-icon-container i {
  margin: 10px 20px;
}

.inner-image-container {
  width: 50%;
}

.inner-image-container img {
  /* max-height: 500px; */
  max-width: 475px;
  border-radius: 10px;

  transform: translateX(-25px) translateY(25px);

  transition: ease-in 200ms;
}

.inner-image-container img:hover {
  box-shadow: 5px 5px 15px var(--boxShadowColor);
  transition: ease-in 200ms;
}

/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */

/* /////////////////// */
/*    SOCIAL MODAL     */
/* /////////////////// */

#social-modal-container {
  background-color: var(--primaryColorLight);
  padding: 10px;
}

#social-modal-title {
  font-family: lust-display, serif;
  font-size: 60px;
  font-weight: 400;
  font-style: normal;

  line-height: 50px;

  margin-top: 5px;
  margin-bottom: 5px;
}

#social-modal-body {
}

/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */

/* /////////////////// */
/*    MEDIA QUERIES    */
/* /////////////////// */

/* Extra small devices (portrait phones, less than 576px) */
/* ------------------------------------------------------ */
@media (max-width: 575.98px) {
  .container {
    /* padding: 0;
    margin: 0; */
    min-width: 350px;
  }

  .recent-projects-section-container {
    min-width: 350px;
  }

  .project-subtitle {
    font-size: 13px;
    font-weight: 300;
    text-align: center;
  }

  .recent-projects-header {
    font-size: 45px;
    text-align: center;

    background: url("/images/wave-design-yellow.svg");
    background-repeat: repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat-x;
    background-size: 20px 105px;
    animation: move 15s linear infinite;
    -webkit-animation: move 15s linear infinite;

    animation-play-state: play;

    max-width: 200px;
    margin: 0 auto;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }

  .inner-text-container hr {
    margin-bottom: 50px;
  }
  .inner-text-container h2 {
    margin-top: 75px;
    margin-bottom: 50px;
  }
  .social-icon-container i {
    margin: 10px 12px;
  }
  .inner-text-container h2 {
    font-family: montserrat, sans-serif;
    font-size: 30px;
    font-weight: 400;
  }
  .email-prompt-text {
    background-size: 18px 43px;
    animation-play-state: running;

    width: 215px;
  }
}

/* Small devices (landscape phones, less than 768px)      */
/* ------------------------------------------------------ */
@media (max-width: 767.98px) {
  .recent-projects-section-container {
    height: 95%;
  }

  .project-container {
    margin-top: 25px;
    /* transition: ease-in 300ms; */
  }

  .project-container h2 {
    margin-top: -40px;
    font-size: 40px;
    font-weight: 400;
  }

  .project-subtitle {
    font-size: 22px;
    margin-top: 10px;
    font-weight: 200;
    font-style: italic;
  }

  .see-more-row {
    margin-top: -50px;
  }

  .see-more-button-container {
    text-align: center;
  }
}

/* Medium devices (tablets, less than 992px)              */
/* ------------------------------------------------------ */
@media (max-width: 991.98px) {
}

/* Large devices (desktops, less than 1200px)             */
/* ------------------------------------------------------ */
@media (max-width: 1199.98px) {
}
