/* ============================================================================================= */
/* /////////////////// */
/*   GENERAL LAYOUT    */
/* /////////////////// */

:root {
  --primaryColorLight: #fdfbf5;
  --primaryColorDark: #202020;

  --accentColorYellow: #f6a800;
  --accentColorGreen: #09553f;

  --boxShadowColor: rgba(32, 32, 32, 0.3);

  --onHoverHighlightLight: rgba(246, 168, 0, 0.2);
}

body {
  background-color: var(--primaryColorLight);
  font-family: montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--primaryColorDark);
}

.header li {
  font-family: montserrat, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
}

.footer a {
  /* font-family: lust-display, serif; */

  font-family: montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 8px;
}

/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */

/* /////////////////// */
/*   SAY HI SECTIONS   */
/* /////////////////// */

.say-hi-container {
  border: 1px solid var(--primaryColorDark);
  border-radius: 10px;
  height: 650px;
}

.say-hi-container h1 {
  font-family: lust-display, serif;
  font-size: 60px;
  font-weight: 400;
  font-style: normal;

  margin-top: -45px;
  margin-bottom: 0px;
}

.say-hi-contents {
  justify-content: space-between;
}

.email {
  color: var(--primaryColorDark);
}

.email:hover {
  color: var(--primaryColorDark);
  text-decoration: none;
}

.inner-text-container {
  margin-left: 25px;
  width: 100%;
}

.inner-text-container h2 {
  margin-top: 75px;
  margin-bottom: 75px;
}

.inner-text-container hr {
  border-top: 1px solid var(--primaryColorDark);
  margin-bottom: 75px;
}

.inner-text-container p {
}

.social-icon-container {
  display: flex;
}

.social-icon-container a {
  color: var(--primaryColorDark);
}

.social-icon-container a:hover {
  color: var(--primaryColorDark);
}

.social-icon-container i {
  margin: 10px 20px;
}

.inner-image-container {
  width: 50%;
}

.inner-image-container img {
  /* max-height: 500px; */
  max-width: 475px;
  border-radius: 10px;

  transform: translateX(-25px) translateY(25px);

  transition: ease-in 200ms;
}

.inner-image-container img:hover {
  box-shadow: 5px 5px 15px var(--boxShadowColor);
  transition: ease-in 200ms;
}

/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */

/* /////////////////// */
/*    SOCIAL MODAL     */
/* /////////////////// */

#social-modal-container {
  background-color: var(--primaryColorLight);
  padding: 10px;
}

#social-modal-title {
  font-family: lust-display, serif;
  font-size: 60px;
  font-weight: 400;
  font-style: normal;

  line-height: 50px;

  margin-top: 5px;
  margin-bottom: 5px;
}

#social-modal-body {
}
