.fade-in {
  animation: fadeIn ease-in 1000ms;
  -webkit-animation: fadeIn ease-in 1000ms;
  -moz-animation: fadeIn ease-in 1000ms;
  -o-animation: fadeIn ease-in 1000ms;
  -ms-animation: fadeIn ease-in 1000ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header-content {
  margin-top: 75px;
  margin-bottom: 25px;
  border: 1px solid var(--primaryColorDark);
  border-radius: 10px;
  min-width: 360px;
}

h1 {
  font-family: lust-display, serif;
  font-size: 50px;
  font-weight: 400;
  font-style: normal;
}

.header-content h1 {
  margin-top: -38px;
}

.header-image {
  height: auto;
  margin-bottom: 25px;
}

#spacer-div {
  height: 30vh;
}
