h1 {
  font-family: lust-display, serif;
  font-size: 60px;
  font-weight: 400;
  font-style: normal;
  text-align: center;

  margin-top: 50px;
  margin-bottom: 30px;
}

.left-col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #202020;
  border-radius: 10px;
}

.link-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
}

.link-btn-container a {
  box-shadow: none !important;

  font-family: lust-display, serif;
  color: #202020;
  margin: 10px 15px;
  padding: 15px;
  border: 1px solid #202020;
  background-color: transparent;
}

.link-btn-container a:hover {
  color: #fdfbf5;
  margin: 10px 15px;
  padding: 15px;
  border: 1px solid #202020;
  background-color: #202020;
}

.project-image-container {
  width: 100%;
  height: 300px;
  background-image: url("/images/TheBoys-game-thumbnail.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  background-position: center;

  border-radius: 8px;

  color: #fdfbf5;
}

.project-image-container h2 {
  text-align: center;
}

.subtitle {
  font-weight: 500;
}

.highlight {
  /* color: #1f4a54; */
  /* color: #ffdb58; */

  padding: 5px 10px 5px 10px;
}

/*
  color: rgb(255, 219, 88, 1);
  background-color: rgba(31, 74, 84, 0.5);
  transition: 200ms ease-in;
}

.highlight:hover {
  color: rgb(31, 74, 84);
  background-color: rgb(255, 219, 88, 0.5);
  transition: 200ms ease-in;
} */

.label {
  margin-bottom: 0;
  font-weight: 100;
  font-size: 14px;
}
