.fade-in {
  animation: fadeIn ease-in 1000ms;
  -webkit-animation: fadeIn ease-in 1000ms;
  -moz-animation: fadeIn ease-in 1000ms;
  -o-animation: fadeIn ease-in 1000ms;
  -ms-animation: fadeIn ease-in 1000ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.page-header {
  margin-bottom: 25px;
  padding-bottom: 20px;
  min-width: 500px;

  padding-bottom: 5px;
  background: url("/images/wave-design-yellow.svg");
  background-repeat: repeat;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto auto;
  background-repeat: repeat-x;
  background-size: 20px 10px;
  animation: move 15s linear infinite;
  -webkit-animation: move 15s linear infinite;

  /* animation-play-state: paused; */
  animation-play-state: running;

  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.page-header:hover {
  /* animation-play-state: running; */
}

@-webkit-keyframes move {
  from {
    background-position: 2px 88px;
  }
  to {
    background-position: 500px 88px;
  }
}

@keyframes move {
  from {
    background-position: 2px 88px;
  }
  to {
    background-position: 500px 88px;
  }
}

.card {
  margin: 25px auto;
  border: 1px solid var(--primaryColorDark);
  border-radius: 8px;
}

.card-body {
  background-color: var(--primaryColorLight);
}

.read-more-btn {
  box-shadow: none !important;

  font-family: lust-display, serif;
  color: var(--primaryColorDark);
  margin: 20px 15px;
  padding: 15px;
  border: 1px solid var(--primaryColorDark);
  background-color: transparent;
}

.read-more-btn:hover {
  color: var(--primaryColorLight);
  margin: 20px 15px;
  padding: 15px;
  border: 1px solid var(--primaryColorDark);
  background-color: var(--primaryColorDark);
}

#spacer-div {
  height: 30vh;
}

/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */

/* /////////////////// */
/*    MEDIA QUERIES    */
/* /////////////////// */

/* Extra small devices (portrait phones, less than 576px) */
/* ------------------------------------------------------ */
@media (max-width: 575.98px) {
  .container {
    min-width: 375px;
  }
  .page-header {
    margin-bottom: 25px;
    padding-bottom: 20px;
    min-width: 275px;
  }
  @-webkit-keyframes move {
    from {
      background-position: 2px 68px;
    }
    to {
      background-position: 500px 68px;
    }
  }

  @keyframes move {
    from {
      background-position: 2px 68px;
    }
    to {
      background-position: 500px 68px;
    }
  }
  #spacer-div {
    height: 20vh;
  }
}

/* Small devices (landscape phones, less than 768px)      */
/* ------------------------------------------------------ */
@media (max-width: 767.98px) {
}

/* Medium devices (tablets, less than 992px)              */
/* ------------------------------------------------------ */
@media (max-width: 991.98px) {
}

/* Large devices (desktops, less than 1200px)             */
/* ------------------------------------------------------ */
@media (max-width: 1199.98px) {
}
