h1 {
  font-family: lust-display, serif;
  font-size: 60px;
  font-weight: 400;
  font-style: normal;
  text-align: center;

  margin-top: 50px;
  margin-bottom: 30px;
}

label {
  background-color: var(--primaryColorLight);
  font-family: montserrat, sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  color: var(--primaryColorDark);
}

.form-group {
  margin-bottom: 30px;
}

.submit-btn {
  margin-top: 50px;
}

.submit-btn input {
  font-family: lust-display, serif;
  font-size: 20px;

  height: 65px;
  color: var(--primaryColorDark);
  background-color: var(--primaryColorLight);
  transition: ease-in 200ms;
}

.submit-btn input:hover {
  color: var(--primaryColorLight);
  background-color: var(--primaryColorDark);
  transition: ease-in 200ms;
}

/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */

/* /////////////////// */
/*    MEDIA QUERIES    */
/* /////////////////// */

/* Extra small devices (portrait phones, less than 576px) */
/* ------------------------------------------------------ */
@media (max-width: 575.98px) {
  .container {
    min-width: 375px;
  }
}

/* Small devices (landscape phones, less than 768px)      */
/* ------------------------------------------------------ */
@media (max-width: 767.98px) {
}

/* Medium devices (tablets, less than 992px)              */
/* ------------------------------------------------------ */
@media (max-width: 991.98px) {
}

/* Large devices (desktops, less than 1200px)             */
/* ------------------------------------------------------ */
@media (max-width: 1199.98px) {
}
