.fade-in {
  animation: fadeIn ease-in 1000ms;
  -webkit-animation: fadeIn ease-in 1000ms;
  -moz-animation: fadeIn ease-in 1000ms;
  -o-animation: fadeIn ease-in 1000ms;
  -ms-animation: fadeIn ease-in 1000ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header-content {
  margin: 0 15px;
  margin-top: 75px;
  margin-bottom: 25px;
  border: 1px solid var(--primaryColorDark);
  border-radius: 10px;
  min-width: 350px;
}

h1 {
  font-family: lust-display, serif;
  font-size: 50px;
  font-weight: 400;
  font-style: normal;
}

.header-content h1 {
  margin-top: -38px;
  text-align: center;
}

.header-image {
  height: auto;
  margin-bottom: 25px;
}

#spacer-div {
  height: 30vh;
}

.recent-projects-header {
  font-family: lust-display, serif;
  font-size: 60px;
  font-weight: 400;
  font-style: normal;

  margin-top: -45px;
  margin-bottom: 0px;

  background: url("/images/wave-design-yellow.svg");
  background-repeat: repeat;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat-x;
  background-size: 20px 85px;
  animation: move 15s linear infinite;
  -webkit-animation: move 15s linear infinite;

  animation-play-state: play;

  max-width: 450px;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.email-prompt-text {
  /* color: var(--accentColorGreen); */

  background: url("/images/wave-design-yellow.svg");
  background-repeat: repeat;
  background-position-x: 20%;
  background-position-y: 0%;
  background-repeat: repeat-x;
  background-size: 20px 130px;
  animation: move 15s linear infinite;
  -webkit-animation: move 15s linear infinite;

  animation-play-state: paused;

  width: 250px;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */

/* /////////////////// */
/*    MEDIA QUERIES    */
/* /////////////////// */

/* Extra small devices (portrait phones, less than 576px) */
/* ------------------------------------------------------ */
@media (max-width: 575.98px) {
  .container {
    min-width: 375px;
  }
  .recent-projects-header {
    font-size: 45px;
    text-align: center;

    background: url("/images/wave-design-yellow.svg");
    background-repeat: repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat-x;
    background-size: 20px 165px;
    animation: move 15s linear infinite;
    -webkit-animation: move 15s linear infinite;

    animation-play-state: play;

    max-width: 200px;
    margin: 0 auto;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }

  .email-prompt-text {
    /* color: var(--accentColorGreen); */

    background: url("/images/wave-design-yellow.svg");
    background-repeat: repeat;
    background-position-x: 20%;
    background-position-y: 0%;
    background-repeat: repeat-x;
    background-size: 20px 105px;
    animation: move 15s linear infinite;
    -webkit-animation: move 15s linear infinite;

    animation-play-state: paused;

    width: 250px;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }

  #spacer-div {
    height: 20vh;
  }
}

/* Small devices (landscape phones, less than 768px)      */
/* ------------------------------------------------------ */
@media (max-width: 767.98px) {
}

/* Medium devices (tablets, less than 992px)              */
/* ------------------------------------------------------ */
@media (max-width: 991.98px) {
}

/* Large devices (desktops, less than 1200px)             */
/* ------------------------------------------------------ */
@media (max-width: 1199.98px) {
}
